body{
    font-family: Arial;
    background-color: #a1a3e3;
}

h2 {
    text-align: center;
}

.encadre, h2{
    margin: 50px 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}